
<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>{{title}}
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  </div>
  
  
  <div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
  
            <div class="panel">
              <div class="panel-body">
                <div class = "col-lg-2"></div>
                <div class = "col-lg-8">
                  <div class="row">
                      <form (ngSubmit)="AddItem()" >
                        <div class="col-md-12">
                          <label for="Name" class="form-label">Name</label>
                          <input type="text" class="form-control" id="Name" name="name">
                        </div>
                        <div class="col-md-12">
                          <label for="Genre" class="form-label">Genre</label>
                          <input type="text" class="form-control" id="Genre" name="genre" >
                        </div>
                        <div class="col-md-12">
                          <label for="Image" class="form-label">Image</label>
                          <input type="text" class="form-control" id="Image" name="image" >
                        </div>
                        <div class="col-md-12">
                          <label for="Description" class="form-label">Desc</label>
                          <input type="text" class="form-control" id="Desc" name="desc">
                        </div>
                        <div class="col-md-12" >
                          <br>
                          <br>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                      </form>
          
                    </div>
                </div>
             
                
              </div>
            </div> 
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>