
<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>{{title}}
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  
    
  </div>
  
  
  <div class="container">
  <div class= "row">
  <br>
  <br>
  </div>
    <div class="row">
  
      <div class="col-md-12"> 
          <div class = "container myMargin ">
              <div class = "row">
                  <div class = "col-lg-2"></div>
                  <div class  = "col-lg-8">
                      <form action="" method="POST">
                          <div >
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                          </div>
                          <br><br>
                          <div>
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                          </div>
                          <br><br>
                          <div>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                  </div>
              </div>
          </div>
        
  
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>